<!doctype html>
<html>
<head>
	<title>HTML Editor - Full Version</title>
</head>
<body>
<h1 style="text-align: center;">&nbsp;</h1>

<h1 style="text-align: center;"><span style="color:#FF0000;">AS SEARCH ERROR</span></h1>

<p style="text-align: center;"><strong><span style="font-size:16px;">This AS{{ ASN }} does not exist. Please, try again.</span></strong></p>
<form><p style="text-align: center;">
  <input
          type="button" value="Back" onclick="history.back()">
  </input>
</p></form>
</body>
</html>
