<div class="container">
    <div class="title">
        <h2>New DIO in PIX: {{pix.code}}</h2>
    </div>
    <div class="col-md-12 content">
        {% load static %}
        <div>
            <form class="django-form" action="{% url 'core:add_dio_form' pix.uuid %}" method="post">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                {% endfor %}
                {% for field in form %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                    <div class="form-group has-errors text-danger small">
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 bold">{{ field.label_tag }}</div>
                        <div class="{% if 'ticket' in field.label_tag %}col-lg-3{% else %}col-lg-4{% endif %}">
                            {{field}}
                            {% if "IX position pattern" in field.label_tag %}
                                <div>
                                    <small class="text-muted">
                                        For example: <span class="bold">ixposition/{0}{1}</span>
                                    </small>
                                </div>
                            {% elif "Datacenter position" in field.label_tag %}
                            <div>
                                <small class="text-muted">
                                    For example: <span class="bold">datacenter/{0}{1}</span>
                                </small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="col-lg-4">
                    <button type="submit" id='mac-form-submit' class="btn btn-primary" type="button">Submit</button>
                </div>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% else %}alert-warning{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>