<div class="container">
    <div class="title">
        <h2>Create New Switch Model</h2>
    </div>
    <div class="col-md-12 content">
        {% load static %}
        <div class="row">
            <form class="django-form" action="{% url 'core:create_switch_model_form' %}" method="post" style="min-width:100%;">
                {% csrf_token %}
                <table>
                    {{form}}
                </table>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>
