<div class="container">
    <div class="title">
        <h2>Migrate switch</h2>
    </div>
    <div class="col-md-12 content">
        <div class="row">
            <form class="django-form" action="{% url 'core:migrate_switch_form' pix.uuid %}" method="post">
                {% csrf_token %}
                <table>
                    {{form}}
                </table>
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>