<div class="container">
    <div class="title">
        <h2>Release Tag</h2>
    </div>
    <div class="col-md-12 content">
         {% if messages %}
           {% for message in messages %}
             <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% else %}alert-warning{% endif %}">{{ message }}</div>
           {% endfor %}
         {% endif %}
     <div class="row">
      <form class="django-form-reserve" action="{% url 'core:release_tag_resource' ix %}{% if bundle_pk %}?bundle_pk={{ bundle_pk }}{% endif %}" method="post">
        {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <div class="col-md-4">
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
      </form>
     </div>
    </div>
</div>
