{% extends "base.html" %}
{% load static %}
{% block title %}IX: {{ix.code}} | Bundle-Ethers{% endblock %}

{% block content %}
<div class="container">
	<h1>PIXs of {{ ix.fullname }} </h1>
	<table id="bundle" class="table table-striped table-resposive" width="100%">
		<thead class="thead-inverse">
			<tr>
				<th>Bundle-ethers list</th>
			</tr>
		</thead>
		<tbody>
			{% for bundle in object_list %}
				<tr>
					<td><a href="{% url 'core:tag_list_with_bundle' code=ix.code bundle_pk=bundle.uuid %}">TAGs from bundle {{ bundle.name }}</a> | {% for switch in bundle.get_switches%}<a href="{% url 'core:switch_detail' code=ix.code switch_uuid=switch.uuid %}"> Switch: {{ switch.management_ip }}  {{ switch.model}}{% endfor %}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock content %}
